body{

margin:0;
font-family:Arial;
background:#0b1f3a;
color:white;
transition:0.3s;

}

/* LIGHT MODE */

body.light{

background:#f0f4f8;
color:black;

}

header{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:#142d4c;

}

.controls button{

margin-left:10px;

}

/* GRID */

.main-grid{

display:grid;
grid-template-columns:2fr 1fr;
gap:20px;
padding:20px;

}

/* MAP */

.map-box{

background:#1c3b63;
padding:15px;
border-radius:10px;

}

#map{

height:350px;
border-radius:10px;

}

/* SENSOR */

.sensor-panel{

display:grid;
grid-template-columns:1fr;
gap:15px;

}

.card{

background:#1c3b63;
padding:20px;
border-radius:10px;
text-align:center;

}

.card p{

font-size:28px;

}

/* CHART */

.chart-area{

width:90%;
margin:auto;
margin-top:20px;
background:#1c3b63;
padding:20px;
border-radius:10px;

}

/* FORECAST */

.forecast{

margin:20px;
background:#1c3b63;
padding:20px;
border-radius:10px;

}

/* HISTORY */

.history{

margin:20px;
background:#1c3b63;
padding:20px;
border-radius:10px;

}

/* LOGIN */

.login{

display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.login-box{

background:#1c3b63;
padding:40px;
border-radius:10px;

}
